<p style="margin-top: 0.8em; font-size: large"><b>Hei, {{user.name}}</b>!<br /></p>
<p style="margin-top: 0.8em; font-size: large">
    du kan logge inn til {{domain}} ved å klikke her:
</p>
<p style="margin-top: 1.8em; margin-bottom: 1.8em; font-size: large;">
  <a
    style="
      display: inline-block;
      max-width: 500px;
      padding: 1.5em;
      background: darkblue;
      color: white;
      border: 2px outset darkblue;
      border-radius: 20px;
    "
    href="{{{link}}}"
    >Logg inn på {{domain}}</a
  >
</p>

<p style="margin-top: 0.8em; font-size: large">Innlogging varer normalt i omkring to uker. Etterpå kan du gå til denne eposten og klikke logg inn på nytt, eller få ny lenke tilsendt ved å legge inn epost-adressa på forsida på {{domain}}.</p>

<p style="margin-top: 0.8em; font-size: large">Takk for at du bruker nettsida! Hilsen utviklerne.</p>


<p style="margin-top: 0.5em; font-size: small;">
  <em>
    Du kan ikke svare på denne eposten.
  </em>
</p>
